matplotlib==3.8.0
numpy==1.26.4
pandas==2.1.4
scikit_learn==1.2.2
seaborn==0.12.2
imbalanced-learn==0.12.3
xgboost==2.0.3
dvc==3.50.1
fastapi==0.111.0
uvicorn==0.29.0
deepchecks==0.18.1
pytest==7.4.0
python-multipart==0.0.9
streamlit==1.30.0
mlflow==2.12.1
python-dotenv==1.0.1
psutil==5.9.0
